footer 
{
    width: 100%;
    height: 300px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
    padding: 90px;
    background-color:brown;
}
footer .block-1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px
}
footer h3
{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
footer .block-5 .icon-list
{
    display: flex;
    gap: 15px;

}