.foodlist
{
    width: 55%;
    padding: 30px;
    transition: ease-in-out 1s;
}
.swiper-button-prev,
.swiper-button-next 
{
  color: orange !important;
  font-weight: bold;
  transition: color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #cc3300 !important;
}