.slideShow {
    display: flex;
    align-self: center;
    position: relative;
    width: 1137px;
    height: 639px;
    margin: 40px;
    overflow: hidden;
    border: 10px;
}
.banner-swiper {
    width: 1137px;
    height: 639px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}
