main
{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-1
{
    width: 80%;
    height: 600px;
    display: flex;
    padding: 70px;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
.block-1 .slideShow
{
    width: 1010px;
    height: 620px;
    padding: 12px;
    overflow: hidden;
    border-radius: 10px;
}